body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    height: 300px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.618);
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rowName{
    background-color: rgb(220, 222, 223);
}
h1{
    color: white;
    font-family: sans-serif;
}
.rowName p{
    color: blue;
    font-size: 1.5rem;
    margin: 5px;
}
.row1{
    height: 40%;
    width: 95%;
    font-size: 2rem;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid yellow;
    border-radius: 15px;
    box-shadow: 1px 1px 5px red;
}
.row1 h1{
    margin-top: 20px;
}
.pause{
    background-color: transparent;
    font-size: 2rem;
    padding: 10px;
}
.start{
    background-color: orangered;
    font-size: 3rem;
    padding: 15px;
}
.reset{
    background-color: transparent;
    font-size: 2rem;
    padding: 10px;
}
button{
    border-radius: 50%;
    margin:10px 25px;
}
button:hover{
    box-shadow: 0px 0px 6px 4px rgba(176, 166, 166, 0.5);
    cursor: pointer;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .container{
        height: 70vh;
        width: 70vw;
        margin-top: 15vh;
    }
    .row1{
        height: 40%;  
    }
    button{
        margin-top: 100px;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .container{
        height: 90vh;
        width: 100%;
        margin: 0;
    }
    .row1{
        height: 40%;   
    }
    button{
        margin-top: 50px;
    }
}
  
